.services__container {
    grid-template-columns: repeat(3,1fr);
    column-gap:1.2rem;
    row-gap: 30px;
    text-align: center;
}


.services__card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
   
    text-align: center;
    padding:0.7rem;
    border-radius:var(--border-radius);
    background-color:var(--container-color);
    transition: all 0.5s ease-in-out;
}

.services__card:nth-child(1){
    background-color: var(--first-color);
    box-shadow:0px 5px 20px 0px rgb(108,108,229/50%);
    color: white;
    

}
.services__card:nth-child(2){
    background-color:var(--first-color);
    box-shadow:0px 5px 20px 0px rgb(239, 222, 87/50%);
    color: white;

}
.services__card:nth-child(3){
    background-color:var(--first-color);
    box-shadow:0px 5px 20px 0px rgb(249, 124, 139 /50%);
    color: white;

}
.services__card:nth-child(4){
    background-color:var(--first-color);
    box-shadow:0px 5px 20px 0px rgb(249, 124, 139 /50%);
    color: white;

}
.services__card:nth-child(5){
    background-color:var(--first-color);
    box-shadow:0px 5px 20px 0px rgb(249, 124, 139 /50%);
    color: white;

}
.services__img {
    margin-bottom :1.25rem;
    height: 250px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.services__github-a {
    margin-top: 20px;

    width:100px;
    border: 1px solid transparent;
    margin-right: 10px;
    height:50px;
    border-radius: 20px;
}
.services__netlify-b {
    width:100px;
    border: 1px solid transparent;
    margin-right: 10px;
    height:50px;
    border-radius: 20px;
    
}
.section__title {
    font-size: 50px;
}
.services__title{
    font-weight: bold;
}
.services__github-a:hover {
    width:110px;
    border: 1px solid transparent;
    margin-right: 10px;
    height:60px;
    border-radius: 20px;
   
}

.services__netlify-b:hover {
    width:110px;
    border: 1px solid transparent;
    margin-right: 10px;
    height:60px;
    border-radius: 20px;
   
}

.fa-gitgit{
   font-size: 2rem;
   color: bisque;
   padding-bottom: 20px;
}
.fa-globe{
    font-size: 2rem;
    padding-left: 50px;
    padding-top: 30px;
    color: bisque;
}
.services__card:hover {
    transform: translateY(-15px);
    background-color: goldenrod;
    color: black;
}
.fa-gitgit:hover{
    font-size: 2rem;
    
    color: black;
 }
 .fa-globe:hover{
     font-size: 2rem;
     padding-left: 50px;
     padding-top: 30px;
    
     color: black;
 }
 .services__description{
    margin-top:20px;
    font-weight: 500;
 }
 .ptagabout{
    width:90%;
    margin: auto;
   
 }
 #project{
    margin-bottom: 20px;
    margin-top: -90px;
 }
 
 
@media screen and (max-width: 769px) {
    .services__container {
        grid-template-columns: repeat(2,1fr);
        gap:1.875rem;
        align-items: center;
        
    }
    .services__card {
        width:300px;
        text-align: center;
        padding:0.7rem;
        border-radius:var(--border-radius);
        background-color:var(--container-color);
        transition: all 0.5s ease-in-out;
    }
    .services__title{
        font-weight: bold;
    }
  }
  @media screen and (max-width: 429px) {
    .services__container {
        grid-template-columns: repeat(1,2fr);
        gap:1.875rem;
        align-items: center;
        
    }
    .services__card {
        width:300px;
        text-align: center;
        padding:0.7rem;
        border-radius:var(--border-radius);
        background-color:var(--container-color);
        transition: all 0.5s ease-in-out;
    }
    .services__title{
        font-weight: bold;
    }
  }
 


  
@media screen and (min-width:395px) and (max-width:825px){
    .services__container {
        grid-template-columns: repeat(2,1fr);
        column-gap:1.2rem;
        row-gap: 30px;
        text-align: center;
    }
    
   
}

@media screen and (max-width:395px) {
    .services__container {
        grid-template-columns: repeat(1,1fr);
        column-gap:1.2rem;
        row-gap: 30px;
        text-align: center;
    }
        
}