.skills__list {
    grid-template-columns: repeat(6,1fr);
   gap:1rem;  
   
}

.skills__img{
    border-radius: 50%;
    margin-bottom: 5px;

}
.skills__card{
    align-items: center;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    background-color:hsl(217, 91%, 66%);
    text-align: center;
    font-size:20px ;
    border-radius:var(--border-radius);
    color: white;
    transition: 1s;
    
}

.skills__card:hover {
color: black;
background-color: goldenrod;
font-weight: bolder;

}

  
  @media screen and (max-width:825px){
    .skills__list {
        grid-template-columns: repeat(3,1fr);
       gap:1rem;  
       
    }
   
}
@media screen and (max-width:450px){
    .skills__list {
        grid-template-columns: repeat(2,1fr);
       gap:1rem;  
       
    }
   
}

@media screen and (max-width:395px) {
    .skills__list {
        grid-template-columns: repeat(2,1fr);
       gap:1rem;  
       
    }
}