.home {
    margin-top: 40px;
    position :relative;
    height:700px;
    display:flex;
    align-items: center;
    justify-content:center;
  

}

.intro {

    max-width:540px;
    text-align:center;
}
.home__img {
    margin-top: 150px;
    margin-bottom: 1.5rem;
    width:250px;
    height:250px;
    border-radius: 100%;;
}
.home__name {
    font-size :var(--h1-font-size);
    font-weight:var(--font-bold);
    margin-bottom:0.5rem;
}

.home__socials {
    display: flex;
    column-gap:1.75rem;
    margin:1.5rem 0;
    justify-content:center;
}

.home__social-link {
    color: var(--title-color);
    font-size:2rem;
    
    transition :0.3s;
}

.home__social-link:hover {
color:goldenrod;

}
.scroll__down{
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    width:100%;
}

.home__scroll-name {
    font-size:var(--small-font-size);

}
.mouse {
    border: 2px solid rgb(65, 62, 62);
    display: block;
    height:1.6rem;
    width: 1.25em;
    margin:auto;
    margin-top:0.75rem;
    border-radius:1rem;
    position:relative;


}
@keyframes ani-mouse {
    0% {
        top: 29%;
    }
    15% {
        top: 50%;
    }
    50% {
        top: 50%;
    }
    100% {
        top: 29%;
    }

}
.wheel{
    background-color: var(--title-color);
    border-radius: 100%;
    width:0.25rem;
    height:0.25rem;
    position:absolute;
    top:0.5rem;
    left:50%;
    transform: translateX(-50%);
    animation: ani-mouse 2s linear infinite;

}

.btn:hover {
    background-color: goldenrod;
}

#moving{
    margin-right: -140px;
}
#btnC{
    margin-top: -50px;

}


@media  only screen and (max-width:1024px)and(min-width:437px){
    .home__social-link{
        font-size:1.125rem
    }
}

@media only screen and (max-width:337px){
    .home__social-link{
        font-size:1rem
    }

    #moving{
        margin-right: 250px;
    }
}