.contact.section {
    padding-bottom: 6.25rem;
}

.contact__container {
    grid-template-columns: 5fr 5fr;
    column-gap:1.875rem ;    
}
.contact__title{
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
}

.contact__form-group {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 1.5rem;
}

.contact__form-div{
    position: relative;
    margin-bottom: 1rem;
    height:3.75rem;
}

.contact__form-input{
    position: absolute;
    top:0;
    left:0;
    width:70%;
    height:90%;
    box-shadow: var(--shadow);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    color:var(--text-color);
    border: none;
    outline:none;
    border-radius:  1rem;
    padding:0.625rem 1.875rem;
    z-index: 1;
}
.contact__form-area{
    height: 10.25rem;
}
.contact__form-area textarea {
    resize:none;
}
#btnsend{
    width:30%;
    margin-top: -10px;
    margin-left: 20%;
}
.contact__info{
    text-align: center;
}
#contactsmall{
    border: 1px solid transparent;
    margin-bottom: 50px; 
}
#contact{
    border: 1px solid transparent;
}
